/*css default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

a{
    color: black;
    text-decoration: none;
}

/*header*/

header{
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header a{
    margin: 15px;
}

header img{
    padding: 10px;
}

#inizia{
    padding: 5px 10px;
    color: white;
    background-color: #006bff;
}
/*/header*/

/*main*/

/*card-start section*/

.card-start{
    background-color: #b4d3ff;
}

.start{
    height: 615px;
    margin: 0 300px;
    flex-wrap: wrap;
    justify-content: center;
}

.start h1{
    margin: 70px 0;
    font-weight: 900;
    font-size: 60px;
}

.textbox{
    width: 300px;
    height: 200px;
    text-align: left;
}

.textbox a{
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #006bff;
}

.textbox p{
    margin-top: 20px;
}

.jumbo{
    width: 700px;
    height: 500px;
}

.jumbo img{
    width: 100%;
}
/*/card-start section*/

/*card-option section*/

.card-option{
    margin-top: 120px;
}

.option{
    margin: 0 300px;
    display: flex;
    flex-direction: column;
}

.option h1{
    margin: 40px 0;
    font-weight: 900;
    font-size: 2.5rem;
}

.option input[type="radio"] + label span{
    
    
    cursor: pointer;
}

.card{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    border: none;
    margin-left: -20px;
}

.cards{
    margin: 20px;
    border: 1px solid grey;
    display: inline-block;
}

.cards .span i,
.cards-down .span i{
    margin-right: 10px;
}

.cards .span{
   text-align: center;
   margin-top: 10px;
}

.business-plan{
    padding: 10px;
}

.business-plan hr{
    margin-left: 15px;
    width: 50px;
}

.business-plan h4{
    line-height: 4rem;
}

.icon{
    position: absolute;
    width: 20px;
}

.paragraph{
    width: 210px;
    position: relative;
    left: 25px;
}

.freetest{
    padding: 10px 20px;
    margin-left: 15px;
    color: white;
    background-color: #006bff;
    line-height: 6rem;
}

#freetest{
    margin: 0 15px;
    padding: 10px 80px;
    color: white;
    background-color: #006bff;
    line-height: 3rem;
}

.buylink{
    margin: 30px 15px;
}

#buylink{
    margin-top: 60px;
}

.buylink a{
    color: blue;
    text-decoration: underline;
}

#buylink a{
    color: blue;
    text-decoration: underline;
}

.cards-down{
    margin: 20px;
    margin-left: 0;
    border: 1px solid grey;
}

.cards-down .span span{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.enterprise{
    padding: 20px;
    display: flex;
}

.partner{
    margin: 130px 300px;
    justify-content: center;
}

.partner-img{
    width: 700px;
    height: 500px;
}

.partner img{
    width: 700px;
    height: 500px;
}

.partner div:last-of-type{
    padding: 5%;
    text-align: left;
}

.partner h2{
    font-weight: 600;
}

.partner span{
    padding: 3%;
    border: 1px solid black;
}
/*/card-option section*/

/*Todo section*/

.Todo{
    margin: 130px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Todo h2{
    font-weight: 600;
    text-align: center;
}

.Todo-cards{
    display: flex;
    flex-wrap: wrap;
}

.Todo-card{
    width: 300px;
    height: 400px;
}

.Todo-card img{
    width: 100%;
}

#find-client{
    margin: 120px 0;
}

#find-client h1{
    font-weight: 600;
    margin-right: 400px;
}

#find-client a{
    color: blue;
    line-height: 7rem;
    text-decoration: underline;
}
/*/ Todo section*/

/*feedback section*/

.feedback{
    display: flex;
    flex-wrap: wrap;
}

.feedback-container{
    display: flex;
}

.fcard-left{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
}

.fcard-mid{
    width: 39vw;
    height: 30vw;
}

.fcard-mid div{
    padding: 40px;
}

.fcard-mid img{
    padding: px;
}

.fcard-mid div p{
    margin: 50px 0;
}

.fcard-right{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
}

.fcards{
    width: 15vw;
    height: 15vw;
    padding: 60px;
    display: flex;
}

.fcards img{
    width: 100%;
}

#freeride{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    background-color: #b4d3ff;
}

#freeride h1{
    width: 470px;
    font-weight: 600;
    margin-top: 115px;
    color: rgb(151, 30, 70);
}

#freeride span{
    margin: 150px 25px;
    padding: 0 55px;
    line-height: 2.5rem;
    background-color: white;
}

#faq{
    margin: 120px 300px;
}

#faq hr{
    margin: 3rem 0;
}

#faq p span{
    margin-left: 270px;
}
/*/feedback section*/
/*/main*/

/*footer*/

footer{
    height: 500px;
    background-color: black; 
}

.footerlinks{
    margin: 0px 200px;
    display: flex;
    justify-content: space-evenly;  
    color: white;
    background-color: black; 
}

.link{
    margin-top: 80px;
    width: 200px;
    height: 200px;
}

.link a{
    font-weight: 100;
    color: white;
    line-height: 2rem;
    padding-right: 45px;
}

.footend{
    margin-top: 100px;
}

.footend hr{
    color: white;
    margin-left: 220px;
    margin-bottom: 40px;
    width: 160px;
}

.footend span{
    margin-left: 210px;
    margin-top: 60px;
    color: white;
    word-spacing: 1rem;
}

.footend i{
    margin: 0 10px;
}
/*/footer*/